<?xml version="1.0"?>
<configuration>
	<system.web>
    <compilation debug="true" />
	
    
    <!-- If we want to crop very large images, we must resize them before sending them to the browser. -->
      <httpModules>
        <!-- This is for IIS5, IIS6, and IIS7 Classic, and Cassini/VS Web Server-->
        <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
      </httpModules>
    </system.web>

    <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
      <modules>
        <!-- This is for IIS7+ Integrated mode -->
        <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
      </modules>
    </system.webServer>
</configuration>
